#ActionPanel {
    padding-bottom: 0px;
}

/* Minimap border */
#MinimapBorder
{
    width: 16.5%;
    height: 117%;
    margin-top: -17%;
    vertical-align: bottom;
    background-position: left bottom;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
}

#ScanButton
{
    width: 9%;
    height: width-percentage(100%);
    vertical-align: bottom;
    margin-bottom: 73%;
    margin-left: 1%;
    background-size: 100% 100%;
    background-image: url("s2r://panorama/images/hud_radar_png.vtex");
}

#ScanButton:hover
{
    brightness: 1.5;
}

/* Spacer */
#MinimapSpacer
{
    width: 9%;
    height: 100%;
    margin-left: -23px;
    z-index: -1;
}

/* Portrait */
#PortraitBorder
{
    height: width-percentage(100%);
    margin-left: -3.8%;
    width: 16.3%;
    z-index: 5;
}

#HeroName
{
    width: 45%;
    height: 28px;
    vertical-align: bottom;
    text-align: center;
    margin-bottom: 65.5%;
    padding-top: 0px;
    font-size: 17px;
    font-family: Goudy Trajan Medium;
}

#Portrait
{
    width: 8%;
    height: 69%;
    margin-left: -12%;
    margin-right: 4%;
}

#LevelTextBox
{
    width: 12%;
    height: 11%;
    background-image: url("s2r://panorama/images/hud/element_xp_orb_png.vtex");
    background-size: 100% 100%;
    vertical-align: bottom;
    margin-left: 20.6%;
    z-index: 2;
}

#LevelNumber
{
    color: #ffffff;
    font-size: 20px;
    vertical-align: center;
    horizontal-align: center;
    text-shadow: 0px 0px 2px 2.0 #ff00aa;
}

#XPBar
{
    height: 4%;
    margin-bottom: 2%;
    vertical-align: bottom;
    width: 41%;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#A0741E), color-stop(0.5, #C6AD03), color-stop(0.6, #B77D03), to(#634103));
    background-size: 100% 100%;
    margin-left: 32%;
}

#XPLabel
{
    height: 5%;
    margin-bottom: 1.5%;
    vertical-align: bottom;
    width: 41%;
    margin-left: 32%;
    text-align: center;
    font-size: 14px;
    text-shadow: 0px 0px 2px 2.0 #ff00aa;
}

/* Center panel */
#center_left_wide
{
    margin-left: -3.1%;
    width: 13% !important; 
    height: 60% !important;
    background-size: 100% 100%;
    z-index: -1;
    //opacity: 0.0;
}
#RightStatsBox
{
    margin-left: 2%;
}
.BlackBox
{
    width: 46%;
    height: 65%;
    margin-left: 8%;
    margin-bottom: 4%;
}
#center_right 
{
    width: 24.1% !important;
    height: 60% !important;
    background-size: 100% 100%;
    vertical-align: bottom;
}

/* Health/Mana bars */
#HealthBar
{
    width: 35.2%;
    height: 9%;
    margin-top: 43.8%;
    margin-left: -36.2%;
    z-index: 5;
    border-radius: 10px;
    flow-children: right;
}

#HealthBarInner
{
    width: 70%;
    height: 100%;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#83AA5A), color-stop(0.5, #156115), to(#003400));
    border-style: solid;
    border-width: 3px 0px 3px 0px;
    border-color: #043404;
    overflow: noclip;
}

#HealthBarLight
{
    width: height-percentage(1000%);
    height: 100%;
    background-color: gradient( radial, 0% 50%, 0% 0%, 50% 40%, from( #00ff00ff ), to( #00ff0000 ) );
    opacity: 0.5;
}

@keyframes 'glowAnim' {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

#HealthBarGlow {
    width: 5%;
    margin-left: -5%;
    height: 100%;
    background-image: url("s2r://panorama/images/compendium/rightedgeglow_psd.vtex");
    opacity: 2;
    background-size: 100% 130%;
    background-position: center bottom;
    animation-name: glowAnim;
    animation-duration: 0.15s;
    animation-iteration-count: infinite;
    hue-rotation: -100deg;
    brightness: 2.5;
}

#ManaBar
{
    width: 35.2%;
    height: 4.4%;
    margin-top: 53%;
    margin-left: -35.2%;
    border-radius: 3px;
    flow-children: right;
}

#ManaBarInner
{
    height: 100%;
    width: 50%;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#7395BD), color-stop(0.3, #34609F), color-stop(0.31, #0D448C), to(#294D84));
}

#ManaBarLight
{
    width: height-percentage(1000%);
    height: 100%;
    background-color: gradient( radial, 0% 50%, 0% 0%, 60% 80%, from( #3B9DFFFF ), to( #3B9DFF00 ) );
    opacity: 0.6;
}

#ManaBarGlow {
    width: 5%;
    margin-left: -5%;
    height: 100%;
    background-image: url("s2r://panorama/images/compendium/rightedgeglow_psd.vtex");
    opacity: 2;
    background-size: 100% 130%;
    background-position: center bottom;
    animation-name: glowAnim;
    animation-duration: 0.15s;
    animation-iteration-count: infinite;
    brightness: 2.5;
}

/* Ability section */
.AbilityLayout5 .Ability {
    width: 22%;
    height: 100%;
}

.AbilityLayout6 .Ability {
    width: 18%;
    height: 100%;
    padding-top: 8px;
}

#AbilitiesContainer
{
    height: 65%;
    width: 90%;
    padding-left: 10px;
    padding-right: 4%;
    vertical-align: bottom;
    overflow: noclip;
}

#AbilitiesContainer.AbilityLayout5 {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: -10px;
}

#AbilitiesContainer.AbilityLayout6 {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: -7px;
}
