.inventory
{
    vertical-align: bottom;
    horizontal-align: right;
    width: 30%;
    height: 27%;
}
#background
{
    /* Remember to add 4:3 aspect ratio system in later */
    background-image: url("s2r://panorama/images/hud/default/inventory/background_wide.png");
    background-size: 100% 100%;
    margin-left: 19%;
    width: 81%;
    height: 100%;
}
#spacer
{
    background-image: url("s2r://panorama/images/hud/default/inventory/spacer.png");
    background-size: 100% 100%;
    //opacity:0.0;
    margin-left:1%;
    width: 20%;
    height: 83%;
    horizontal-align: left;
    vertical-align: bottom;
}
#rocks
{
    /* Remember to add aspect ratio system in later */
    background-image: url("file://panorama/images/hud/default/inventory/rocks_16_9.png");
    background-size: 100% 100%;
    margin-left: -5%;
    width: 40%;
    height: 20%;
    horizontal-align: left;
    vertical-align: bottom;
    z-index: 1;
    //opacity:0.0;
    //visibility:collapse;
}