.inventory
{
    vertical-align: bottom;
    horizontal-align: right;
    width: 30%;
    height: 27%;
}
#background
{
    /* Remember to add 4:3 aspect ratio system in later */
    background-image: url("s2r://panorama/images/hud/default/inventory/background_wide.png");
    background-size: 100% 100%;
    margin-left: 19%;
    width: 81%;
    height: 100%;
}
#spacer
{
    background-image: url("s2r://panorama/images/hud/default/inventory/spacer.png");
    background-size: 100% 100%;
    //opacity:0.0;
    margin-left:1%;
    width: 20%;
    height: 83%;
    horizontal-align: left;
    vertical-align: bottom;
}
#rocks
{
    /* Remember to add aspect ratio system in later */
    background-image: url("file://panorama/images/hud/default/inventory/rocks_16_9.png");
    background-size: 100% 100%;
    margin-left: -5%;
    width: 40%;
    height: 20%;
    horizontal-align: left;
    vertical-align: bottom;
    z-index: 1;
    //opacity:0.0;
    //visibility:collapse;
}
#stats {
    width: 100%;
    height: 100%;
}
#stats.Hidden {
    opacity: 0.0;
}
#kda {
    margin-left: 56.4%;
    margin-bottom: 6.2%;
    vertical-align: bottom;
    horizontal-align: left;

    font-size: 15px;
    color: #666666;
}
#lhd {
    margin-left: 56.4%;
    margin-bottom: 2%;
    vertical-align: bottom;
    horizontal-align: left;

    font-size: 15px;
    color: #666666;
}
#kda-value {
    margin-left: 69.4%;
    margin-bottom: 6.2%;
    vertical-align: bottom;
    horizontal-align: left;

    font-size: 14px;
    color: offWhite;
}
#lhd-value {
    margin-left: 69.4%;
    margin-bottom: 2%;
    vertical-align: bottom;
    horizontal-align: left;

    font-size: 14px;
    color: offWhite;
}
#courier {
    margin-right: 16%;
    margin-bottom: 17%;
    width: 29.6%;
    height: 12%;
    vertical-align: bottom;
    horizontal-align: right;   
}
#noCourier
{
    margin-right: 5%;
    margin-top: 10%;
    vertical-align: center;
    horizontal-align: center;
    
    color: #773333;
    font-size: 16px;
}
#courier.Courier #noCourier {
    visibility: collapse;
}
#courier.Flying.Selected #courierStatus {
    background-image: url("s2r://panorama/images/hud/flying_courier_select_selected.png"); 
}
#courier.Flying #courierStatus {
    background-image: url("s2r://panorama/images/hud/flying_courier_select.png");
    width: 25%;
}
#courier.Selected #courierStatus {
    background-image: url("s2r://panorama/images/hud/button_courier_down.png");
}
#courierStatus {
    background-image: url("s2r://panorama/images/hud/button_courier_def.png");
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    visibility: collapse;
}
#courier.Courier.Dead #courierStatus {
    visibility: collapse;
}
#courier.Courier #courierStatus {
    visibility: visible;
}
#courierDelivery {
    visibility: collapse;
    background-image: url("s2r://panorama/images/hud/button_courier_deliver.png");
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    horizontal-align: right;
}
#courier.Courier.Dead #courierDelivery {
    visibility: collapse;
}
#courier.Courier #courierDelivery {
    visibility: visible;
}
#courier.Flying.Dead #courierBurst {
    visibility: collapse;
}
#courier.Flying #courierBurst {
    visibility: visible;
    width: 25%;
    height: 100%;
    margin-left: 25%;
    horizonatal-align: left;
    background-image: url("s2r://panorama/images/hud/courier_haste.png");
    background-size: 100% 100%;
}
#courierBurst {
    visibility: collapse;
}
#courier.Dead #deadCourier {
    visibility: visible;
}
#deadCourier {
    width: 100%;
    height: 100%;
    visibility: collapse;
}
#deadCourierImage {
    width: 50%;
    height: 100%;
    margin-left: 2%;
    background-image: url("s2r://panorama/images/hud/button_courier_dead.png");
    background-size: 30% 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#deadCourierTimer {
    width: 50%;
    height: 80%;
    horizontal-align: right;
    vertical-align: center;
    text-align: left;
    font-size: 25px;
    color: #773333;
    margin-right: 5%;
}
#glyph
{
    vertical-align: bottom;
    horizontal-align: right;        
}
#gold
{
    width: 22%;
    height: 10%;
    margin-right: 22%;
    margin-bottom: 57%;
    vertical-align: bottom;
    horizontal-align: right;
}
#goldImage
{
    width: 30%;
    height: 100%;
    horizontal-align: left;
}
#goldCount
{
    width: 70%;
    height: 100%;
    font-size: 21px;
    font-family: Radiance;
    font-weight: bold;
    padding-left: 5%;
    color: #fea500;
    text-shadow: 0px 0px 2px 2.0 #000000;
    horizontal-align: right;
    text-align: center;
}
#shop
{
    background-image: url("s2r://panorama/images/hud/hudv2_shopbutton.png");
    background-size: 100% 100%;
    width: 21%;
    height: 13%;
    margin-right: 1%;
    margin-bottom: 57%;
    vertical-align: bottom;
    horizontal-align: right;
}
#shop.ShopActive
{
    background-image: url("s2r://panorama/images/hud/hudv2_shopbutton_lit.png");
}
#shopLabel
{
    width: 75%;
    height: 75%;
    horizontal-align: center;
    vertical-align: bottom;
    color: #fff;
    text-shadow: 0px 0px 2px 2.0 #000000;
    font-size: 21px;
    text-align: center;
    font-family: Goudy Trajan Medium;
}