#ZooHUD
{
	width: 1920px;
	height: 1080px;
    //This is to move the UI up so we can do comparisons, remove in final product
    padding-bottom: 180px;
}
#padding
{
    width: 32.5%; //32.5
}
#center_left_wide
{
    width: 13% !important; 
    height: 60% !important;
    background-size: 100% 100%;
    //opacity: 0.0;
}
#RightStatsBox
{
    margin-left: 2%;
}
.BlackBox
{
    width: 46%;
    height: 65%;
    margin-left: 8%;
    margin-bottom: 4%;
}
#center_right 
{
    width: 24.1% !important;
    height: 60% !important;
    background-size: 100% 100%;
    vertical-align: bottom;
}
.hudpanel:hover
{
    pre-transform-scale2d: 1;
}
.hudpanel
{
    width: 100% !important;
    height: 28% !important;
    overflow: squish squish;
    pre-transform-scale2d: 1;
}
.Ability
{
    width: 25%;
    height: 100%;
}
#AbilitiesContainer
{
    height: 68%;
    width: 100%;
    padding-left: 6%;
    padding-right: 4%;
    vertical-align: bottom;
}
#AbilityFrame
{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-right: 15%;
    background-size: contain;
    background-position: center top;
}

#AbilityFrame.Passive
{
    background-image: none;
}

.PipPadding
{
    width: 12%;
}

/* Preparations to move to separate file */
#AbilityButton 
{
    width: 89%;
    height: 83%;
    margin-left: 6%;
    margin-top: 4%;
    tooltip-body-position: 50% 100%;
    tooltip-position: left bottom;
}

#AbilityImage 
{
    width: 100%;
    border-top: 3px solid #777777;
    border-left: 3px solid #636363;
    border-right: 3px solid #343434;
    border-bottom: 3px solid #2c2c2c;
}

#AbilityFrame.Passive #AbilityImage 
{
    border: 0px solid black;
    height: 98%;
}

#AbilityImage.NotLearned 
{
    saturation: 0;
    brightness: 0.1;
}

#AbilityImage.Active 
{
    brightness: 1.6;
    border-color: #999999;
    padding-top: 3px;
}

#AbilityImage.AbilityPhase
{
    border-color: #00ff00;
    padding-top: 3px;
    brightness: 1.6;
}

#AbilityImage.Cooldown
{
    border-top-color: #282828;
    border-left-color: #212121;
    border-right-color: #171717;
    border-bottom-color: #141414;
    padding: 2px;
}

.abilitycooldowncontainer
{
    width: 94%;
    height: 92%;
    margin-left: 3%;
    margin-top: 4%;
    //background-color: #ffffff88;
}

#cooldownswipe
{
    //width: 100% !important;
    //height: 100% !important;
    background-color: #ff0000;
    //opacity: 0;
    //clip: radial(50% 50%, 6deg, 10deg);
}

.EmptyPip 
{
    width: 17px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url("s2r://panorama/images/hud/pip_off_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
}

.EmptyPip.Small {
    width: 9px;
    margin-top: 1px;
}

.LeveledPip
{
    width: 11px !important;
    height: 12px !important;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
}

.LeveledPip.Small {
    width: 7px;
}

#PipContainer
{
    width: fit-children;
    height: 100%;
    flow-children: right;
    horizontal-align: center;
    margin-top: 7%;
}

#HoverHighlight 
{
    width: 100%;
    height: 100%;
}

#AbilityButton:hover #HoverHighlight 
{
    background-color: gradient( linear, 0% 0%, 0% 40%, from( #ffffff08 ), to( #ffffff00 ) );
}

#AbilityFrame.Passive #PassiveMask
{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/hud/passive_ability_border_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
}
