#ZooHUD
{
	width: 1920px;
	height: 1080px;
    //This is to move the UI up so we can do comparisons, remove in final product
    padding-bottom: 180px;
}
#padding
{
    width: 32.5%; //32.5
}
#center_left_wide
{
    width: 13% !important; 
    height: 60% !important;
    background-size: 100% 100%;
    //opacity: 0.0;
}
#RightStatsBox
{
    margin-left: 2%;
}
.BlackBox
{
    width: 46%;
    height: 65%;
    margin-left: 8%;
    margin-bottom: 4%;
}
#center_right 
{
    width: 24.1% !important;
    height: 60% !important;
    background-size: 100% 100%;
    vertical-align: bottom;
}
.hudpanel:hover
{
    pre-transform-scale2d: 1;
}
.hudpanel
{
    width: 100% !important;
    height: 28% !important;
    overflow: squish squish;
    pre-transform-scale2d: 1;
}

.Ability
{
    width: 25%;
    height: 100%;
}

.AbilityLayout5 .Ability {
    width: 20%;
    height: 100%;
    padding-top: 8px;
}

.AbilityLayout6 .Ability {
    width: 17%;
    height: 100%;
    padding-top: 8px;
}

#AbilitiesContainer
{
    height: 68%;
    width: 100%;
    padding-left: 6%;
    padding-right: 4%;
    vertical-align: bottom;
}

#AbilitiesContainer.AbilityLayout5 {
    padding-left: 4%;
    padding-right: 0%;
}

#AbilitiesContainer.AbilityLayout6 {
    padding-left: 3%;
    padding-right: 2%;
}

#AbilityFrame
{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-right: 15%;
    background-size: contain;
    background-position: center top;
}

#AbilityFrame.Passive
{
    background-image: none;
}

.PipPadding
{
    width: 12%;
}

/* Preparations to move to separate file */

.spacer {
    width: 100%;
    height: width-percentage(4%);
    opacity: 0.2;
}

#AbilityButton 
{
    width: 90%;
    height: width-percentage(100%);
    tooltip-body-position: 50% 100%;
    tooltip-position: left bottom;
    horizontal-align: center;
    //background-color: #00ff00;
}

.AbilityLayout5 #AbilityButton {
    width: 89%;
    margin-top: 1px;
}

#AbilityImage 
{
    width: 100%;
    height: width-percentage(100%);
    border-top: 3px solid #777777;
    border-left: 3px solid #636363;
    border-right: 3px solid #343434;
    border-bottom: 3px solid #2c2c2c;
}

#AbilityFrame.Passive #AbilityImage 
{
    border: 0px solid black;
}

#AbilityImage.NotLearned 
{
    saturation: 0;
    brightness: 0.03;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #bbbbbb;
    border-right: 3px solid #999999;
    border-bottom: 3px solid #999999;
}

#AbilityImage.Active 
{
    brightness: 1.6;
    border-color: #999999;
    padding-top: 3px;
}

#AbilityImage.AbilityPhase
{
    padding-top: 3px;
    brightness: 1.6;
}

#AbilityImage.Cooldown
{
    border-top-color: #282828;
    border-left-color: #212121;
    border-right-color: #171717;
    border-bottom-color: #141414;
    padding: 2px;
}

.abilitycooldowncontainer
{
    width: 100%;
    height: width-percentage(100%);
}

#cooldownswipe
{
    width: 100% !important;
    height: 100% !important;
    background-color: #000000;
    opacity: 0;
    transition-timing-function: linear;
    transition-property: clip;
}

.EmptyPip 
{
    width: 17px;
    height: 100%;
    margin-left: -1px;
    margin-right: 0px;

    background-image: url("s2r://panorama/images/hud/pip_off_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
}

.AbilityLayout6 .EmptyPip.Small,
.EmptyPip.Small {
    width: 9px;
    margin-top: 1px;
}

.AbilityLayout6 .EmptyPip {
    width: 13px;
}

.AvailablePip {
    width: 16px;
    height: 100%;
    margin-left: -1px;
    margin-right: 0px;

    background-image: url("s2r://panorama/images/hud/pip_outline_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
}

.AbilityLayout6 .AvailablePip.Small,
.AvailablePip.Small {
    width: 7px;
    margin-top: 1px;
}

.AbilityLayout6 .AvailablePip {
    width: 13px;
}

.LeveledPip
{
    width: 11px !important;
    height: 12px !important;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
}

.AbilityLayout6 .LeveledPip.Small,
.LeveledPip.Small {
    width: 6px;
}

#PipContainer
{
    width: fit-children;
    height: 100%;
    flow-children: right;
    horizontal-align: center;
    margin-top: 7%;
}

#HoverHighlight 
{
    width: 100%;
    height: width-percentage(100%);
}

#AbilityButton:hover #HoverHighlight 
{
    background-color: gradient( linear, 0% 0%, 0% 40%, from( #ffffff08 ), to( #ffffff00 ) );
}

#AbilityFrame.Passive #PassiveMask
{
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/hud/passive_ability_border_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
}

#ManaLabel
{
    background-color: gradient( linear, 100% 100%, 10% -10%, from( #1D4B81ff ), to( #1D4B8100 ) );
    font-size: 12px;
    color: #ffffff;
    font-family: Arial;
    width: 35px;
    height: 12px;
    horizontal-align: right;
    vertical-align: bottom;
    text-align: right;
    padding-right: 3px;
}

#HotkeyLabel
{
    background-color: gradient( linear, 0% 0%, 100% 20%, from( #202020 ), to( #3c3c3c ) );
    font-size: 12px;
    color: #ffeedd;
    font-family: Tahoma;
    width: 21px;
    height: 21px;
    padding-left: 4px;
    padding-top: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -12px;
    margin-top: -12px;
    border-top: 1px solid #444444;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
    border-left: 1px solid #333333;
    box-shadow: #000f 0px 0px 2px 0px;
    text-shadow: 0px 0px 2px 2.0 #000000ff;
}

#LearnOverlay {
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/hud/learnspell_png.vtex");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    visibility: collapse;
}

#AbilityPhaseMask {
    width: 100%;
    height: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00bb00ff ), to( #00bb0000 ) );
    opacity-mask: url("s2r://panorama/images/hud/passive_ability_border_png.vtex");
    background-size: 100% 100%;
    opacity: 0.9;
    visibility: collapse;
}

#CooldownLabel {
    horizontal-align: center;
    vertical-align: center;
    color: #fff;
    font-size: 24px;
    text-shadow: 0px 0px 2px 2.0 #ff00aa;
    font-family: Liberation;
    visibility: collapse;
}

#SilencedMask {
    width: 100%;
    height: 100%;
    background-image: url("s2r://panorama/images/hud/spells_silenced_png.vtex");
    background-size: 100% 100%;
    visibility: collapse;
}
